/* --------------------------
 * Site Header
 * --------------------------*/

.siteheader>.row{
	padding: 1rem 0;
	background-color: #faf6f0;
}

.siteheader .phone {
	padding-top: 2rem;
}

.siteheader .phone h2 {
	margin-top: -1rem;
}