.component.intro {
    * > .row{
        background-color: white;
	    background-size: 100%;
	    background-position: bottom center;
        color:white;
    }
    h1 {
    	color:white;
    }
    h2{
    	color:white;
    }
    p {
    	font-size: 1.1rem;
    	color:#fff;
    	line-height: 1.6;
    }
    .messagebox {
        .content {
    	    padding: 2rem 2rem 1rem;
    	    background-color: rgba(0, 0, 0, 0.25);
        }
        p.subheader{
        	color:#D9E001;
        	font-size: 1.25rem;
        	span{
            	color:#D9E001;
            	font-size: 2rem;
            	display: block;
            }
        }
    }
    .get-notified {
        input[type="text"]{
        	margin-bottom: 0rem;
        	-webkit-appearance: none;
        	background-color: #FFF;
        	font-family: inherit;
        	border: 0 none;
        	box-shadow: none;
        	color: rgba(0, 0, 0, 0.75);
        	display: block;
        	font-size: 1rem;
        	margin: 0 0 1rem 0;
        	padding: 0.5rem;
        	height: 2.3125rem;
        	width: 100%;
        	box-sizing: border-box;
        	transition: box-shadow 0.45s,border-color 0.45s ease-in-out;
        	font-family: Lato,"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
        	border-bottom-right-radius: 0;
        	border-top-right-radius: 0;
        }
        .button{
        	margin-bottom: 0rem;
        	font-size: 1rem;
        	border-bottom-right-radius: 3px;
        	border-top-right-radius: 3px;
        }
    }
}

@media only screen and (max-width: 40.062em) {
    .component.intro{
        * > .row {
            padding-top: 0rem;
	        padding-bottom: 0rem;
        }
    }
}