.component.videoplayer.full-width>.row{
	text-align: center;
	background-color: #585046;
	background: url(img/doodle-bg-dark-creme.png);
}

.component.videoplayer p, .component.videoplayer h1, .component.videoplayer h2, .component.videoplayer h3{
	/*color:#faf6f0;*/
}